@media screen and (min-width: 680px) {
    a.post-excerpt {
        position: relative;
        display: block;
        width:100%;
        overflow-y: hidden;
        float:left;

        &.photo {
            height: 340px;

            div.padded-content {
                padding:0;
                width:100%;
                height:100%;
                background: transparent no-repeat center center scroll;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            &:hover div.padded-content {
                opacity:0.9;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    body { zoom: 0.8; }
}

@media screen and (min-width: 680px) {
    body { zoom: 0.9; width: 680px; }
    header { margin: 0; }
}

@media screen and (min-width: 780px) {
    body { zoom: 1.3; }
}

/* medium-res devices (e.g. ipad and iphone) */
@media only screen and (max-width: 1024px) {
    /* To constrain pre-formatted text to body width */
    body { color: black; }
    html.ios pre { overflow: scroll; }
    html.ios pre, html.ios code, html.ios tt { font-size:0.95em; }
    header { margin:0 60px 0 45px; }
    header ul.navigation li a { font:inherit; font-size:14px; }
    div.content { font-size:1.2em; }
}

/* iPhone */
@media only screen and (max-width: 750px) {
    header {
        height: 120px;
        margin:0 1em 0 0.8em;

        h1 { float:none; }

        ul.navigation {
            float:none;
            padding-left:0.1em;
            margin-top: 5px;
        }
    }
      
    h1,h2 { font-size: 160%; }
    h3 { font-size: 130%; }
    h4 { font-size: 115%; }
    h5, h6 { font-size: 110%; }

    pre, code, tt { font-size:11px; }
      
    div.content { 
        padding:3em 1em;
        font-size:1.1em; 
        
        blockquote { padding-left:2.5em; margin-left:-1em; }

        div.quotation blockquote { margin-left:0px; }

        &:not(.sub) h1:first-child { font-size:210%; }

        pre {
            margin: 0 -1em;
            padding:1em;
            background-color: #eee;
            border-left: none;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
       }
    }

    div.avatar {
        width: 100%;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: auto;
        }

        div.avatar_info {
            margin-top: 20px;
            padding-left: 0;
            width: 100%;
            display: inline-block;
        }
    }
}